{% extends "template.html" %}

{% block title %}
    Over Triolingo
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1>Over Triolingo!</h1>
                        <p>Triolingo is een passieproject van Rodger van der Heijden, ontstaan uit frustraties over Duolingo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
