{% extends "template.html" %}

{% block title %}Triolingo - about your quiz{% endblock %}



{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h1>About your most recent quiz</h1>

                        <p>You have opted for <i>{{ no_questions }}, {{ difficulty }}, {{ mode }}</i> questions.</p>

                        <p>Your general language proficiency now is <strong><i>{{ language_proficiency }}</i></strong>,
                            and your multiplier for <i>{{ difficulty }}</i> quizzes now is
                            <strong><i>{{ quiz_lr }}</i></strong></p>

                        <p>With your langauge proficiency, the quiz difficulty and your prior quizzes, the words were
                            sampled around <strong><i>{{ mu }}</i></strong>.

                        <form method="POST" action="{{ url_for('confirm_quiz_settings') }}">
                            <div class="form__fieldset">
                                <button type="submit" class="border btn-lg btn-outline-primary rightAlign" autofocus>Repeat with same settings</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h1>Table of quizzed data</h1>

                        {% for table in quiz_df %}
                            {{ table|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
