{% extends "template.html" %}

{% block title %}Over je quiz!{% endblock %}



{% block main %}
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Over je laatste quiz</h1>
                        <p>Hier komt dan info over welke woorden gevraagd zijn, welke je goed had, de hele zinnetjes
                            en dat soort ongein.</p>
                        <p>You have opted for <i>{{ questions }}</i> questions in mode: <i>{{ difficulty }}</i></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
