{% extends "template.html" %}

{% block title %}
    Triolingo - contact
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shadow card mb-4 ">
                    <div class="card-body">
                        <h1>About Rodger van der Heijden</h1>
                        <p class="text-muted">
                            Placeholder subtitle
                        </p>
                        <p>
                            Triolingo was created by Rodger van der Heijden, a master's student of Data Science and
                            Entrepreneurship.
                        </p>

                        <p>
                            As a child of a Polish mom, though unfortunately only raised in Dutch, Rodger has tried
                            the last few years to master the Polish language. Due to the rigidity of the most well-
                            known tools and the knowledge he has from several holidays, he grew frustrated. Combining
                            two of his biggest passions, languages and programming, he built an app which suits his
                            needs perfectly.
                        </p>

                        <p>
                            Do you have any questions regarding the motivation? Of about the underlying choices? Or
                            maybe you're just curious what the back-end looks like?
                        </p>

                        <p>
                            Or potentially you're just interested in who I am?
                        </p>

                        <p>
                            <a href="mailto:rodgervanderheijden@gmail.com">Shoot me a mail</a>!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
