{% extends "template.html" %}

{% block title %}
    Triolingo - contact
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shadow card mb-4 ">
                    <div class="card-body">
                        <h1>Rodger van der Heijden</h1>
                        <p class="text-muted">
                            Creator of Triolingo
                        </p>
                        <p>
                            Triolingo was created by Rodger van der Heijden, a master's student of Data Science and
                            Entrepreneurship at the <a href="www.jads.nl">Jheronimus Academy of Data Science (JADS)</a>.
                            My passions include dealing with data, dashboarding and telling stories.
                        </p>

                        <p>
                            Though my mom is Polish, I unfortunately was not raised bilingual. Despite several attempts
                            at learning the Polish language not being all that successful, I endured. With growing
                            annoyances about the rigidity of existing tools I decided to create my own service; it would
                            serve as a nice project to both increase my command of the Polish language and to try my
                            hard at my first Flask project (which I learned completely on my own).
                        </p>

                        <p>
                            Even though this app is created merely for my own purposes, I recognize that others may
                            benefit from its existence in some way, shape or form. Therefore I've open sourced the code
                            in this <a href="https://github.com/RodgervanderHeijden/Triolingo">GitHub repo</a>. I'm open
                            for pull or feature requests, or feedback in general.
                        </p>

                        <p>
                            Do you have any questions regarding the motivation? Of about the underlying choices? Or
                            maybe you're just curious what the back-end looks like?
                        </p>

                        <p>
                            Or potentially you're just interested in who I am?
                        </p>

                        <p>
                            <a href="mailto:rodgervanderheijden@gmail.com">Shoot me a mail</a>,
                            <a href="https://github.com/RodgervanderHeijden">find me on GitHub</a>,
                            <a href="https://www.linkedin.com/in/rodgervanderheijden/"> or contact me on LinkedIn!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
