{% extends "template.html" %}

{% block title %}Quiz your knowledge!{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1>Your quiz!</h1>
                        <!-- TODO: the processed text below should be input data -->
                        <p>What does <i>{{ current_word }}</i> mean?</p>

                        <p>{{ answer_bool }}</p>

                        <form method="POST">
                            <div class="form__fieldset">
                                <label class="form__label">Your guess: </label>
                                <input autofocus type="text" name="text" class="form__input" />


                                <label class="form__label"></label>
                                <button type="submit" name="submit" class="form__input btn btn-primary">Enter</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1>Selected settings:</h1>
                            <p>You have opted for <i>{{ no_questions }}</i> questions in mode: <i>{{ mode }}</i> with difficulty <i>{{ difficulty }}</i></p>


                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1>Tabel met data:</h1>

                        {% for table in quiz_df %}
                            {{ table|safe }}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
