{% extends "template.html" %}

{% block title %}Triolingo - quiz your knowledge{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% with is_correct = get_flashed_messages(category_filter=["is_correct"]) %}
                            {% with given_answer = get_flashed_messages(category_filter=["given_answer"]) %}
                                {% with current_question = get_flashed_messages(category_filter=["current_question"]) %}
                                    {% if is_correct[0] == True %}
                                        <div class="card shadow mb-4">
                                            <div class="card-body">
                                                <p>You were completely right!</p>
                                                <p>You answered {{ given_answer }} as answer to {{ current_question }}</p>

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card shadow mb-4">
                                            <div class="card-body">
                                                <p>Incorrect</p>
                                                <p>You answered {{ given_answer }} as answer to {{ current_question }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}


                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h1>Your quiz</h1>
                        {% if mode=='Words' %}
                            <p>What does <i>{{ current_word }}</i> mean?</p>
                        {% else %}
                            <p class="text-muted">What does this sentence mean?</p>
                            <h4><i>{{ current_word }}</i></h4>
                            <p class="text-muted">Potential answers:</p>

                            <form method="POST">
                                <div class="row justify-content-center" id="special-row">
                                    <div class="btn-group col-xs-12 col-sm-4 col-sm-offset-2 width-40" role="group">
                                        <button type="submit" class="border btn-lg btn-outline-primary multiple-choice"
                                                    value="{{ answer_option_1 }}" name="text">{{ answer_option_1 }}</button>
                                    </div>
                                    <div class="btn-group col-xs-12 col-sm-4 col-sm-offset-2 width-40" role="group">
                                        <button type="submit" class="border btn-lg btn-outline-primary multiple-choice"
                                                    value="{{ answer_option_2 }}" name="text">{{ answer_option_2 }}</button>
                                    </div>
                                </div>
                                <div class="row justify-content-center" id="special-row">
                                    <div class="btn-group col-xs-12 col-sm-4 col-sm-offset-2 width-40" role="group">
                                        <button type="submit" class="border btn-lg btn-outline-primary multiple-choice"
                                                    value="{{ answer_option_3 }}" name="text">{{ answer_option_3 }}</button>
                                    </div>
                                    <div class="btn-group col-xs-12 col-sm-4 col-sm-offset-2 width-40" role="group">
                                        <button type="submit" class="border btn-lg btn-outline-primary multiple-choice"
                                                    value="{{ answer_option_4 }}" name="text">{{ answer_option_4 }}</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}


                        <form method="POST">
                            <div class="form__fieldset" style="text-align:center;">
                                <label class="form__label">Your guess: </label>
                                <input autofocus type="text" name="text" class="form__input" />

                                <label class="form__label"></label>
                                <button type="submit" name="submit"
                                        class="border btn-sm btn-outline-primary">Enter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
