{% extends "template.html" %}

{% block title %}Triolingo - quiz your knowledge{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% with is_correct = get_flashed_messages(category_filter=["is_correct"]) %}
                            {% with given_answer = get_flashed_messages(category_filter=["given_answer"]) %}
                                {% with current_question = get_flashed_messages(category_filter=["current_question"]) %}
                                    {% if is_correct[0] == True %}
                                        <div class="card">
                                            <div class="card-body">
                                                <p>You were completely right!</p>
                                                <p>You answered {{ given_answer }} as answer to {{ current_question }}</p>

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card">
                                            <div class="card-body">
                                                <p>Incorrect</p>
                                                <p>You answered {{ given_answer }} as answer to {{ current_question }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}


                <div class="card">
                    <div class="card-body">
                        <h1>Your quiz</h1>
                        {% if mode=='Words' %}
                            <p>What does <i>{{ current_word }}</i> mean?</p>
                        {% else %}
                            <p>What does this sentence mean?</p>
                            <p><i>{{ current_word }}</i></p>
                            <p>Potential answers:</p>
                            <ol>
                            {% for answer_option in answer_options %}
                                <li>{{ answer_option }}</li>
                            {% endfor %}
                            </ol>
                        {% endif %}

                        <p>{{ answer_bool }}</p>

                        <form method="POST">
                            <div class="form__fieldset">
                                <label class="form__label">Your guess: </label>
                                <input autofocus type="text" name="text" class="form__input" />

                                <label class="form__label"></label>
                                <button type="submit" name="submit" class="form__input btn btn-primary">Enter</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1>Selected settings</h1>

                        <p>You have opted for <i>{{ no_questions }}, {{ difficulty }}, {{ mode }}</i> questions.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1>The data in the current quiz (for testing)</h1>
                        {% for table in quiz_df %}
                            {{ table|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
