{% extends "template.html" %}

{% block title %}
    Triolingo - confirm your quiz settings
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h1>Your quiz settings</h1>
                        <p>You have opted for <i class="house-style">{{ questions }}, {{ difficulty }}, {{ mode }}</i> questions.</p>

                        <form method="POST" action="{{ url_for('quiz_page', difficulty=difficulty, no_questions=questions, mode=mode) }}" >
                            <div class="form__fieldset">

                                <label class="form__label"></label>
                                <button autofocus type="submit" name="submit"
                                        class="border btn-lg btn-outline-primary rightAlign">Correct</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
