{% extends "template.html" %}

{% block title %}
    Triolingo quiz
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1>Jouw Triolingo quiz instellingen</h1>
                        <p>You have opted for <i>{{ questions }}</i> questions in mode: <i>{{ mode }}</i> with difficulty <i>{{ difficulty }}</i></p>

                        <form method="POST" action="{{ url_for('quiz_page', difficulty=difficulty, no_questions=questions, mode=mode) }}" >
                            <div class="form__fieldset">

                                <label class="form__label"></label>
                                <button autofocus type="submit" name="submit" class="form__input btn btn-primary rightAlign">Enter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
