{% extends "template.html" %}

{% block title %}
    Triolingo - select quiz settings
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1>Select the desired settings for your quiz!</h1>

                        <form method="POST" action="{{ url_for('confirm_quiz_settings') }}">
                            <div class="form__fieldset">
                                <label for="number" class="form__label">How many questions do you want:</label>
                                <input autofocus type="number" name="amount" id="amount" min="3" class="form__input" />
                            </div>

                            <div class="form__fieldset">
                                <label for="difficulty" class="form__label">What difficulty do you want you quiz to be?</label>
                                <select name="difficulty" id="difficulty" class="form__input form__select">
                                    <option value="easy">Easy</option>
                                    <option value="medium">Medium</option>
                                    <option value="difficult">Difficult</option>
                                </select>
                            </div>

                            <div class="form__fieldset">
                                <label for="mode" class="form__label">What mode do you want?</label>
                                <select name="mode" id="mode" class="form__input form__select">
                                    <option value="open">Open questions (words)</option>
                                    <option value="multiple choice">Multiple choice (sentences)</option>
                                </select>
                            </div>

                            <div class="form__fieldset">
                                <button type="submit" class="btn btn-primary form__submit form__input ">Enter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}